/* Colors */
:root {
    //Primary
    --color-desaturated-red: hsl(0, 36%, 70%);
    --color-soft-red: hsl(0, 93%, 68%); 

    //Gradient
    --color-gradient-white1: hsl(0, 0%, 100%);
    --color-gradient-white2: hsl(0, 100%, 98%);

    --color-gradient-pink1: hsl(0, 80%, 86%);
    --color-gradient-pink2: hsl(0, 74%, 74%);

    //Neutral
    --color-very-greyishred: hsl(0, 6%, 24%);
    --color-white: #fff;
    --color-quasiblack: #423A3A;
  }