@use "../abstracts/functions" as f;

.btn {
    position: absolute;
    top: 0%;
    right: 0;
    text-align: center;

    background-image: linear-gradient(to right, var(--color-gradient-pink1), var(--color-gradient-pink2));
    border-radius: f.rem(28px);
    border: transparent;
    padding: f.rem(7px) f.rem(30px);
    

    cursor: pointer;

    transition: all 0.3s;

}

.btn-arrow {
    
    fill: var(--color-white);
}

@media (width >= 40em) {
    .btn {
        padding: f.rem(13px) f.rem(50px);
    }
    
    .btn:hover {
        background-image: linear-gradient(to right, hsla(0, 80%, 86%, 0.5), hsla(0, 74%, 74%, 0.5));
    }
}